{% extends "base_logged_in.html" %}

{% block content %}
<a href="/account_settings/{{ current_user.username }}" class="settingsback"><img src="{{ url_for('static', filename='img/back.png') }}" width="33px"></a>
<div class="block">
    <div class="params">
        <table>
        <tr><td><h2 class="">Settings</h2></td></tr>
        {% if params == 'Account settings' %}
            <tr><td class="selected"><a href="/account_settings/{{ current_user.username }}">My account</a></td></tr>
            <tr><td><a href="/privacy_and_security/{{ current_user.username }}">Privacy and security</a></td></tr>
        {% else %}
            <tr><td><a href="/account_settings/{{ current_user.username }}">My account</a></td></tr>
            <tr><td class="selected"><a href="/privacy_and_security/{{ current_user.username }}">Privacy and security</a></td></tr>
        {% endif %}
        </table>
    </div>
    <div class="information">
        <table class="table_information">
            <tr><td><h2 class="">{{ params }}</h2></td></tr>
            <tr><td><a href="/change_username"><h4>Username</h4></a><p>@{{ current_user.username }}</p></td></tr>
            <tr><td><h4>E-mail address</h4><p>{{ current_user.email }}</p></td></tr>
            <tr><td><h4>Account creation date</h4><p>{{ current_user.modified_date }}</p></td></tr>
            <tr><td><a href="/change_country"><h4>Country</h4></a><p>{{ current_user.country }}</p></td></tr>
            <tr><td><a href="/change_date_of_birthday"><h4>Date of Birth</h4></a><p>{{ current_user.day_of_birth }} {{ current_user.month_of_birth }} {{ current_user.year_of_birth }}</p></td></tr>
        </table>
    </div>
</div>
{% endblock %}