{% extends "base_logged_in.html" %}

{% block content %}
<a href="/account/{{ current_user.username }}" class="settingsback"><img src="{{ url_for('static', filename='img/back.png') }}" width="33px"></a>
<div class="block">
    <div class="params">
        <table>
        <tr><td><h2 class="">Settings</h2></td></tr>
        {% if params == 'Account settings' %}
            <tr><td class="selected"><a href="/account_settings/{{ current_user.username }}" style="text-decoration: none;">My account</a></td></tr>
            <tr><td><a href="/privacy_and_security/{{ current_user.username }}" style="text-decoration: none;">Privacy and security</a></td></tr>
        {% else %}
            <tr><td><a href="/account_settings/{{ current_user.username }}" style="text-decoration: none;">My account</a></td></tr>
            <tr><td class="selected"><a href="/privacy_and_security/{{ current_user.username }}" style="text-decoration: none;">Privacy and security</a></td></tr>
        {% endif %}
        </table>
    </div>
    <div class="information">
        <table class="table_information">
            <tr><td><h2 class="">{{ params }}</h2></td></tr>
            <tr><td><img src="{{ url_for('static', filename='img/user_icon.png') }}" class="icon"><a href="/account_information/{{ current_user.username }}">Account information</a>
                    <p>View your account details.</p>
            </td></tr>
            <tr><td><img src="{{ url_for('static', filename='img/change_password_icon.png') }}" class="icon"><a href="/change_old_password">Сhange password</a>
                    <p>You can change your password at any time.</p>
            </td></tr>
            <tr><td><img src="{{ url_for('static', filename='img/delete-icon.jpg') }}" class="icon"><a href="/delete_account/{{ current_user.username }}">Delete account</a>
                    <p>Learn how to delete your account.</p>
            </td></tr>
        </table>
    </div>
</div>
{% endblock %}