{% extends "base_logged_in.html" %}

{% block content %}
<a href="/account_settings/{{ current_user.username }}" class="settingsback"><img src="{{ url_for('static', filename='img/back.png') }}" width="33px"></a>
<div class="block">
    <div class="params">
        <table>
        <tr><td><h2 class="">Settings</h2></td></tr>
        {% if params == 'Account settings' %}
            <tr><td class="selected"><a href="/account_settings/{{ current_user.username }}">My account</a></td></tr>
            <tr><td><a href="/privacy_and_security/{{ current_user.username }}">Privacy and security</a></td></tr>
        {% else %}
            <tr><td><a href="/account_settings/{{ current_user.username }}">My account</a></td></tr>
            <tr><td class="selected"><a href="/privacy_and_security/{{ current_user.username }}">Privacy and security</a></td></tr>
        {% endif %}
        </table>
    </div>
    <div class="information">
        <table class="table_information">
            <tr><td><h2 class="">{{ params }}</h2></td></tr>
            <tr><td>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <h3>Change Date Of Birthday</h3>
                    <p><select name="month" width="300px">
                    {% for o in form.list_of_months %}
                        <option class='opt' value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                    </select>
                    <select name="day" width="300px">
                    {% for o in form.list_of_days %}
                        <option class='opt' value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                    </select>
                    <select name="year" width="300px">
                    {% for o in form.list_of_years %}
                        <option class='opt' value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                    </select></p>
                    <div class="move">
                        <p>{{ form.submit(type="submit", class="btn btn-secondary") }}</p>
                    </div>
                    {{ message }}
                    </form>
            </td></tr>
        </table>
    </div>
</div>
{% endblock %}