{% extends "base_login.html" %}

{% block content %}
<p>
<h1 align="center"><font face="fantasy">Is this your account?</font></h1><br>
    We will send verification code to your email to reset your password<br>
</p>
<div class="itsme">
    <img src="{{ userimg }}" class="round">
    <h3>{{ user.username }}</h3>
    <p>{{ user.about_me}}</p>
</div>
<br>
<div class="move">
<p><a class="btn btn-secondary" href="/password_reset">Back</a>
    <a class="btn btn-secondary" href="/send_verification">Next</a></p></div>
{% endblock %}