{% extends "base_login.html" %}

{% block content %}
    <br>
<h1 align="center"><font face="fantasy">Sign in to StarTwi</font></h1> <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-secondary") }}</p>
        <div>{{ message }}</div>
        <a href="/password_reset" class="brright">Forgot your password?</a>
        <a href="/register">Sign up</a>
    </form>
{% endblock %}