{% extends "base_logged_in.html" %}

{% block content %}
<a href="/account/{{ current_user.username }}" class="settingsback"><img src="{{ url_for('static', filename='img/back.png') }}" width="33px"></a>
<div class="block">
    <div class="params">
        <table>
        <tr><td><h2 class="">Settings</h2></td></tr>
        {% if params == 'Account settings' %}
            <tr><td class="selected"><a href="/account_settings/{{ current_user.username }}">My account</a></td></tr>
            <tr><td><a href="/privacy_and_security/{{ current_user.username }}">Privacy and security</a></td></tr>
        {% else %}
            <tr><td><a href="/account_settings/{{ current_user.username }}">My account</a></td></tr>
            <tr><td class="selected"><a href="/privacy_and_security/{{ current_user.username }}">Privacy and security</a></td></tr>
        {% endif %}
        </table>
    </div>
    <div class="information">
        <table class="table_information">
            <tr><td><h2 class="">{{ params }}</h2></td></tr>
            <tr><td><img src="{{ url_for('static', filename='img/black_list_icon.jpg') }}" class="icon"><a href="/blacklist">Black list</a>
                    <p>Users who will not be able to subscribe to your account and view your records and data.</p>
            </td></tr>
            <tr><td><img src="{{ url_for('static', filename='img/restrict_icon.png') }}" class="icon"><a href="/restrict_access">Restrict access to my records</a>
                    <p>Only your subscribers, authorized users will be able to view your posts.</p>
            </td></tr>
        </table>
    </div>
</div>
{% endblock %}