{% extends "base_login.html" %}

{% block content %}

<br>
<br>
<h1 align="center"><font face="fantasy">New version of StarTwi!</font></h1><br>
<p align="center"><font size="4">- Modern social network</font><br></p>
<p align="center"><font size="4">- Chat whenewer you want!</font><br></p>
<p align="center"><font size="4">- More information</font><br></p>
<div class="move">
    <br>
<a class="btn btn-secondary" href="/login">Sign in</a>
    <a class="btn btn-secondary " href="/register">Sign up</a></div>


{% endblock %}